.logo-content .logo img {
    max-width : 125px !important;
    max-height: 15px !important;
}

.page-header .header-container {
    background-color: #FFF;
}

.header-top {
    background-color: #EDEBEB;
}

.container .magezon-builder .mgz-container {
    width: 100%;
}

.header-top {
    border-bottom: none;
}

body {
    font-family: "Proxima Nova", Roboto, "Helvetica Neue", Arial, sans-serif;
}